@tailwind base;
@tailwind components;
@tailwind utilities;

.col-timings th {
  writing-mode: vertical-rl;
  text-orientation: mixed;

  font-size: 10px;
}

.date-of-the-week {
  padding-left: 8px;
}

th,
td,
tr {
  border: 2px solid black;
}

.zero {
  background: rgb(255, 116, 116);
}

.one {
  background: rgb(146, 255, 116);
}
